body{

font-family:Arial,Helvetica,sans-serif;
background:#0f172a;
color:white;
margin:0;

}

.hero{

max-width:1000px;
margin:auto;
padding:80px;
text-align:center;

}

.cards{

display:flex;
gap:20px;
justify-content:center;
margin-top:40px;
flex-wrap:wrap;

}

.card{

background:#1e293b;
padding:25px;
border-radius:12px;
width:250px;

}

h1{

font-size:60px;
color:#22c55e;

}

h2{

color:#38bdf8;

}

footer{

margin-top:60px;
opacity:.7;

}