#############################################################
# AWS
#############################################################

aws_region = "ap-south-1"

#############################################################
# Project
#############################################################

project_name = "terradeploy"

#############################################################
# Environment
#############################################################

environment = "dev"

#############################################################
# Bucket
#############################################################

bucket_name = "your-unique-s3-bucket-name"